<div class="container">
<div class="row">
<%@flats.each do |flat|%>
    <div class="col-3">
        <div class="card" style="width: 20rem;">
            <img src=<%=flat.picture_url%> class="card-img-top" alt="picture">
            <div class="card-body">
                <h4 class="card-title"><%= flat.name%></h4>
                <p class="card-text"><%= flat.address%>
                <br/>
                <i class="fas fa-user-alt" style="margin-left: 10px;"></i><%= flat.number_of_guests%>
                <i class="fas fa-euro-sign" style="margin-left: 10px;"></i><%= flat.price_per_night%></p>
                <%= link_to  "More info", flat_path(flat), class:"btn btn-info" %>
                <%= link_to  "Edit", edit_flat_path(flat), class:"btn btn-warning" %>
                <%= link_to  "Remove", flat_path(flat),method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger" %>
            </div>
        </div>
    </div>
    <%end%>
</div>
</div>